body {
    background-color: #f8f8f8;
    padding-top: 66px;
    padding-bottom: 120px;
}

.carousel-caption {
    font-size: 17px;
}

.productcard-link {
    text-decoration: none;
    color: black;
}

.productcard-link:hover {
    color: #0075B2;
}

.profile-line {
    margin: 10px auto;
    background-color: #00000020;
    border-radius: 20px;
    width: 100px;
    height: 2px;
}

.container-profile {
    width: 50%;
    margin: 0 auto;
}